@{
    ViewData["Title"] = "Home Page";
}

<button id="greet" >Hi, click me...</button>

@section scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/apps/FirstApp/app.min.js"></script>
}