@{
    ViewData["Title"] = "Home Page";
}

@section head
{
    <!--these should be gulp filed or put in a cdn so as not to have to publish the node directory
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>-->
}

<h1>One day I want to be a real SPA app!</h1>

